.color-class {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #111;
	color: #e66f69;
}

.selected {
    color: black;
    background: orange;
    align: center;
}

.not-selected {
    color: white;
    background: black;
    align: center;
}

.bonus {
    color: white;
    background: red;
    align: center;
}